@media (max-width: 1440px) {
  .awards {
    display: none;
  }
  .license {
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .footer__item{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__item-map{
    width: 100%;
  }
  .footer__item-contacts{
    margin-bottom: 0;
  }
  .footer__inner{
    display: block;
  }
  .footer__item-map img{
    max-width: 1024px;
    height: 500px;
    width: 100%;
  }
  .steps,
  .awards,
  .steps__item {
    &::before {
      display: none;
    }
  }
  .steps__item {
    max-width: 250px;
    margin-bottom: 40px;
  }
  .support__form {
    background-image: none;
    padding: 30px 0;
  }
  .special__form {
    background-image: none;
    padding: 30px 0;
  }
  .special__container {
    margin-right: 0;
    padding-bottom: 0;
  }
  .comfort__item:nth-child(odd) {
    margin-right: 0;
  }
  .stage__item + .stage__item::before {
    display: none;
  }
  .special__container-img {
    margin-bottom: 25px;
  }
}
@media (max-width: 885px) {
  .license__item span {
    margin-top: 10px;
  }
  .license {
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    &__inner {
      flex-wrap: wrap;
    }
    &__item {
      margin-bottom: 35px;
    }
  }
  .license__title {
    margin-bottom: 30px;
    font-size: 20px;
    max-width: 100%;
  }
  .stage__inner {
    margin-bottom: 0px;
  }
  .steps {
    padding-top: 30px;
    &__title {
      margin-bottom: 40px;
    }
  }
  .training {
    padding-top: 30px;
    margin-bottom: 0;
  }
  .comfort {
    margin-bottom: 25px;
  }
  .team {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .team__inner {
    display: block;
  }
  .team__subtitle {
    margin-bottom: 20px;
  }
  .team__image {
    margin-right: 0;
    text-align: center;
    margin-bottom: 25px;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
  .team__info {
    padding-left: 15px;
  }
  .comfort__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .support {
    padding-bottom: 30px;
  }
  .special {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .special__slider {
    display: none;
  }
  .catalog {
    padding-bottom: 30px;
  }
  .support__inner {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .support__inner img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .support__desc {
    h2,
    p,
    span {
      max-width: 100%;
      margin-bottom: 25px;
    }
    .support__doc {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .special__form {
    padding: 0;
  }
  .catalog__tab-inner {
    margin-bottom: 15px;
  }
  .form input {
    margin-bottom: 15px;
  }
  .special__container-img {
    margin-bottom: 25px;
  }
  .special__container {
    margin-right: 0;
    padding-bottom: 30px;
  }
  .special__form {
    background-image: none;
  }
}
@media (max-width: 768px) {
  .collage {
    display: none;
  }
  .training__title {
    font-size: 24px;
    max-width: 100%;
  }
  .training__subtitle {
    font-size: 20px;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .stage__title {
    margin-bottom: 30px;
  }
  .stage__item {
    margin-bottom: 25px;
  }
  .team__comments-title {
    margin-bottom: 30px;
  }
  .team__comments-item {
    margin-bottom: 15px;
  }
  .special__container-img {
    margin-bottom: 25px;
    margin-right: 20px;
    & + .special__container-img {
      margin-left: 0;
    }
  }
  .catalog {
    padding-bottom: 30px;
  }
  .advice {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  .catalog__subtitle {
    margin-bottom: 20px;
  }
  .catalog__tab-inner {
    padding: 17px;
  }
  .catalog__tab-inner + .catalog__tab-inner {
    margin-left: 0;
    margin-top: 15px;
  }
  .catalog__tab-inner {
    margin-bottom: 0;
  }
  .tabs {
    flex-direction: column;
    max-width: 100%;
  }
  .tabs .tab {
    max-width: 100%;
    &:nth-child(2) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
    &:nth-child(3) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
  .tabs .tab + .tab {
    margin-left: 0px;
  }
  ///////////////////////
  .advice {
    background-image: none;
  }
  .advice__title {
    margin-bottom: 20px;
  }
  .advice__subtitle {
    margin-bottom: 30px;
  }
  .line {
    margin-bottom: 30px;
  }
  .advice__form {
    margin-bottom: 20px;
    input {
      max-width: 100%;
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 480px) {
  .footer__item-title{
    margin-bottom: 25px;
    font-size: 24px;
  }
  .footer__item{
    padding-left: 5px;
  }
  .footer__item-map img{
    height: 300px;
  }
  .team__comments-item + .team__comments-item {
    margin-left: 0;
  }
  .team__title {
    max-width: 100%;
    font-size: 20px;
  }
  .comfort__title {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .comfort__item {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .comfort__item .comfort__item-title {
    margin-bottom: 15px;
  }
  .comfort__item:nth-child(odd) {
    margin-right: 0;
  }
  .special__title {
    font-size: 24px;
  }
  .special__subtitle {
    font-size: 18px;
    line-height: 30px;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .support__title {
    font-size: 20px;
    line-height: 25px;
  }
  .form .form__input {
    margin-right: 0;
  }
  .form__callback {
    display: block;
    &-desc {
      margin-right: 0;
    }
  }
  .form__callback-link {
    margin-top: 10px;
  }
  .advice__title {
    font-size: 24px;
    line-height: 26px;
  }
  .advice__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
  /////////////////////////////////
  .header__inner {
    display: block;
  }
  .header__logo {
    margin-bottom: 25px;
  }
  .header__contacts {
    text-align-last: left;
    margin-bottom: 25px;
    a {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .header__callback {
    display: block;
    text-align: center;
  }
  ////////////////////////////////////
  .main {
    background-image: none;
    padding-bottom: 10px;
  }
  .main__title {
    padding-top: 10px;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 25px;
  }
  .main__subtitle {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 375px) {
  .special__subtitle{
    font-size: 16px;
    line-height: 24px;
  }
  .footer__item-contacts{
    font-size: 16px;
  }
  .footer__item-title{
    font-size: 18px;
  }
  .license__title {
    font-size: 17px;
  }
  .comfort__item-title {
    font-size: 18px;
  }
  .support__enter {
    line-height: 18px;
  }
  .support__title {
    font-size: 18px;
  }
  .support__text {
    font-size: 16px;
  }
  .support__inner span {
    font-size: 18px;
  }
  .support__inner .support__doc {
    font-size: 16px;
  }
  .catalog__title {
    font-size: 20px;
    line-height: 20px;
  }
  .catalog__subtitle {
    font-size: 18px;
  }
  .main__title {
    font-size: 30px;
    line-height: 35px;
  }
  .main__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
  .main__list-item p {
    max-width: 100%;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .main__list-item span {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 320px) {
  .team__title {
    font-size: 18px;
  }
  .team__subtitle {
    font-size: 18px;
  }
  .comfort__item {
    display: block;
    text-align: center;
    img {
      margin-bottom: 15px;
    }
  }
  .comfort__item-image {
    margin-right: 0;
  }
  .special__title {
    font-size: 20px;
  }
  .special__subtitle {
    font-size: 16px;
  }
  .catalog__image span {
    font-size: 12px;
  }
  .advice__title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .advice__subtitle {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
